.container{
    position: relative;
}
.banner2{
    position: absolute;
    top: 20px;
    left: 20px;
    color:black;
}
.banner-text{
    font-weight: 900;
font-size: 80px;
}
.unique-txt{
background: #EBD96B;
transform: rotate(-2deg);
}

.lets-txt{
    background: #FFFFFF;
transform: rotate(-2deg);
}
.shp-btn{
    border-radius: 10px;
    width: 121px;
height: 50px;
}