.container{
    position: relative;
}
.banner2{
    position: absolute;
    top: 50px;
    left: 80px;
    color:black;
}
.banner-text{
    font-weight: 900;
font-size: 5rem;
}
.unique-txt{
background: #EBD96B;
transform: rotate(-2deg);
}

.lets-txt{
    background: #FFFFFF;
transform: rotate(-2deg);
}
.shp-btn{
    border-radius: 10px;
    width: 150px;
height: 65px;
font-size: 20px;
}
.ylwbtn{
    padding-top: 30px;
}
